* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
      }

      body {
        background-color: #f5f5f5;
      }

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px;
        background-color: white;
      }

      .logo {
        width: 150px;
      }

      .header-right {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .search-box {
        width: 350px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      select,
      button {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .signin-btn {
        background-color: crimson;
        color: white;
      }

      .menu-btn {
        background-color: black;
        color: white;
      }

      .navbar {
        background-color: #1f2533;
        padding: 12px 30px;
      }

      .navbar nav {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
      }

      .navbar a {
        text-decoration: none;
      }

      .navbar button {
        background-color: transparent;
        color: white;
      }

      .navbar button:hover {
        background-color: crimson;
      }

      .banner img {
        width: 100%;
        height: 350px;
        object-fit: cover;
      }

      .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 40px 10px;
      }

      .section-header h2 {
        font-size: 28px;
      }
      .section-header_2 h2 {
        font-size: 28px;
      }
      .see-all {
        background-color: crimson;
        color: white;
      }

      .card-section {
        display: flex;
        justify-content: center;
        gap: 25px;
        padding: 20px 40px 50px;
        flex-wrap: wrap;
      }
      .card-section_2 {
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 15px 30px 40px;
        flex-wrap: wrap;
      }

      .card {
        background-color: white;
        width: 220px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
      }

      .card:hover {
        transform: translateY(-5px);
      }

      .card img {
        width: 100%;
        height: 320px;
        object-fit: cover;
      }
      .card_2 img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
      }

      .card-content {
        padding: 15px;
      }
      .card-content_2 {
        padding: 15px;
      }

      .movie-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .movie-type {
        color: gray;
      }